In [1]:
import pandas as pd

# 환자 정보 데이터
patients_data = {
    'patient_id': ['P001', 'P002', 'P003', 'P004'],
    'gender': ['M', 'F', 'M', 'F'],
    'age': [25, 30, 22, 35]
}
patients_df = pd.DataFrame(patients_data)

# 약물 처방 데이터
medication_data = {
    'patient_id': ['P001', 'P002', 'P001', 'P003'],
    'drug_name': ['Drug A', 'Drug B', 'Drug C', 'Drug A'],
    'dosage': [10, 5, 15, 20],
    'date': ['2024-11-10', '2024-11-11', '2024-11-12', '2024-11-13']
}
medication_df = pd.DataFrame(medication_data)

# Vertical Data (환자별 약물 정보 병합)
merged_vertical_data = pd.merge(patients_df, medication_df, on='patient_id', how='left')
print("Vertical Data (Merged by Patient):\n", merged_vertical_data)

# Horizontal Data (약물별 처방량)
horizontal_data = pd.pivot_table(medication_df, index='patient_id', columns='drug_name', values='dosage', aggfunc='sum', fill_value=0)
print("\nHorizontal Data (Pivoted by Drug):\n", horizontal_data)

# Cross Data (날짜별 약물별 처방량)
cross_data = pd.pivot_table(medication_df, index='date', columns='drug_name', values='dosage', aggfunc='sum', fill_value=0)
print("\nCross Data (Pivoted by Date and Drug):\n", cross_data)

Vertical Data (Merged by Patient):
   patient_id gender  age drug_name  dosage        date
0       P001      M   25    Drug A    10.0  2024-11-10
1       P001      M   25    Drug C    15.0  2024-11-12
2       P002      F   30    Drug B     5.0  2024-11-11
3       P003      M   22    Drug A    20.0  2024-11-13
4       P004      F   35       NaN     NaN         NaN

Horizontal Data (Pivoted by Drug):
 drug_name   Drug A  Drug B  Drug C
patient_id
P001            10       0      15
P002             0       5       0
P003            20       0       0

Cross Data (Pivoted by Date and Drug):
 drug_name   Drug A  Drug B  Drug C
date
2024-11-10      10       0       0
2024-11-11       0       5       0
2024-11-12       0       0      15
2024-11-13      20       0       0

In [5]:
patients_df

  patient_id gender  age
0       P001      M   25
1       P002      F   30
2       P003      M   22
3       P004      F   35

In [8]:
medication_df

  patient_id drug_name  dosage        date
0       P001    Drug A      10  2024-11-10
1       P002    Drug B       5  2024-11-11
2       P001    Drug C      15  2024-11-12
3       P003    Drug A      20  2024-11-13

In [4]:
merged_vertical_data

  patient_id gender  age drug_name  dosage        date
0       P001      M   25    Drug A    10.0  2024-11-10
1       P001      M   25    Drug C    15.0  2024-11-12
2       P002      F   30    Drug B     5.0  2024-11-11
3       P003      M   22    Drug A    20.0  2024-11-13
4       P004      F   35       NaN     NaN         NaN

In [3]:
horizontal_data

drug_name   Drug A  Drug B  Drug C
patient_id
P001            10       0      15
P002             0       5       0
P003            20       0       0

In [2]:
cross_data

drug_name   Drug A  Drug B  Drug C
date
2024-11-10      10       0       0
2024-11-11       0       5       0
2024-11-12       0       0      15
2024-11-13      20       0       0